.modalBackground {
  box-sizing: border-box;
  width: 100vw;
  height: 100vh;
  background-color: rgba(255, 255, 255, 0.8);
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modalContainer {
  width: 80vw;
  height: 40vh;
  background-color: #002a32;
  color: #f6f1ed;
  position: relative;
}
